.CardTable {
  text-align: center;
  flex-direction: column;
  width: 100%;
  display: flex;
  background: rgb(243,153,52);
background: linear-gradient(90deg, rgba(243,153,52,1) 19%, rgba(0,212,255,1) 100%);
}

.CardTable > main {
  display: flex;
  width: 100%;
  flex: 1;
}

.Card {
  cursor: pointer;
  margin: 7px;
}
